{% load staticfiles%}

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

    <html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{% static 'assets/css/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/css/bootstrap.min.js' %}"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/estilo.css' %}" rel="stylesheet" type="text/css">
      </head><body>

        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <h1 class="text-center text-warning">Registro de Usuario</h1>
                        <br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-offset-4 col-md-6">

                        <form role="form" method="post">
                          {% csrf_token %}

                   <div class="hidden">
                     {% bootstrap_form_errors form %}
                   </div>

                           <div id='campo' class="form-group">
                            <label>Username</label>
                            <div class="input-group input-group-sm">
                              {{form.username}}
                            </div>
                            {% if form.errors %}
                              <div id = 'error'>
                              <strong>{{form.username.errors}}</strong>
                             </div>
                            {% endif %}

                          </div>
                           <div id='campo' class="form-group">
                            <label>Correo</label>
                            <div class="input-group input-group-sm">
                              {{form.email}}
                            </div>
                            {% if form.errors %}
                              <div id = 'error'>
                               <strong >{{form.email.errors}}</strong>
                              </div>
                            {% endif %}
                          </div>

                          <div id='campo' class="form-group">
                            <label>Nombre </label>
                            <div class="input-group input-group-sm">
                              {{form.first_name}}

                            </div>
                             {% if form.errors %}
                            
                              <strong >{{form.first_name.errors}}</strong>
                            
                            {% endif %}
                          </div>

                          <div id='campo' class="form-group">
                            <label>Apellido </label>
                            <div class="input-group input-group-sm">
                              {{form.last_name}}
                            </div>
                            {% if form.errors %}
                            <div id = 'error'>
                               <strong>{{form.last_name.errors}}</strong>
                             </div>
                            {% endif %}
                          </div>

                          <div id='campo' class="form-group">
                            <label>Contraseña </label>
                            <div class="input-group input-group-sm">
                              {{form.passw}}
                            </div>
                              {% if form.errors %}
                            <div id = 'error'>
                              <strong>{{form.passw.errors}}</strong>
                            </div>
                            {% endif %}
                          </div>

                          <div id='campo' class="form-group">
                            <label>Confirme su Contraseña </label>
                            <div class="input-group input-group-sm">
                              {{form.passw1}}
                            </div>
                            {% if form.errors %}
                             <div id = 'error'>
                              <strong>{{form.passw1.errors}}</strong>
                            </div>
                            {% endif %}

                          </div>

                            <span class="input-group-btn">
                              <button id='campo' class="btn btn-warning" type="submit">Guardar</button>
                            </span>
                          </form></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </body></html>
